<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<p>
  <a href="help.html.erb">help</a>
</p>
<p>
  <a href="about.html.erb">about</a>
</p>
